<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="saucedemoPage.Login_Fail"/>
      <class name="saucedemoPage.Login"/>
      <class name="saucedemoPage.AddItems"/>
      <class name="saucedemoPage.SortByPrice"/>
      <class name="saucedemoPage.Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
